---
import Home from "../layouts/home.astro";
---

<Home title="404">
    <article class="prose">
        <h1 class="m-10 text-4xl font-mono">Not Found!</h1>
        <img alt="404" class="rounded-lg shadow-lg" src="/img/404.jpg" />
    </article>
</Home>
