---
import HomeLayout from "../layouts/home.astro";
---

<HomeLayout title="404">
    <header class="flex-grow pb-8">
        <h1 class="text-3xl md:text-5xl font-serif">Not found!</h1>
    </header>
    <figure>
        <img alt="404" class="rounded-lg shadow-lg" src="/img/404.jpg" />
    </figure>
</HomeLayout>
