---
import HomeLayout from "../layouts/home.astro";
---

<HomeLayout title="About" class="flex">
    <article class="prose mx-auto">
        <img
            class="rounded-lg shadow-lg mx-auto"
            src="https://static.yizhou.ac.cn/about.jpg"
        />
        <blockquote>
            <p>猫体动力学家。</p>
        </blockquote>
        <h2 class="font-serif">学而</h2>
        <il>
            <li>计算语义学: 语义化自动推理</li>
            <li>理论与计算物理: 固体物理计算</li>
            <li>儒学: 新黑格尔主义心学与汉语神学</li>
            <li>元编程: 元构建与语义化代码生成、相继式演算</li>
        </il>
        <h2 class="font-serif">里仁</h2>
        <p>
            摄影、射箭、登山、写同人文。喜好巴赫、莫扎特、德沃夏克。<br />
        </p>
        <h2 class="font-serif">乡党</h2>
        <il>
            <li>汉语: 普通话，吴语，江淮官话，冀鲁官话，东北官话；正在学习中原官话。</li>
            <li>日本語: 共通語, 学習中</li>
            <li>English: British English</li>
            <li>Français: Français canadien, etude en cours</li>
    </article>
</HomeLayout>
