---
import Home from "../layouts/home.astro";
---

<Home title="About" class="flex">
    <article class="prose mx-auto">
        <img
            class="rounded-lg shadow-lg max-w-screen-md mx-auto"
            src="https://blog.yizhou.ac.cn/img/about.jpg"/>
        <blockquote>
            <p>博学之，审问之，慎思之，明辨之，笃行之。</p>
        </blockquote>
        <h1>学而</h1>
        <p>
            人生的意义在于了解世界，追求真理与起源。人的理性为自然立法，这正是物理学存在的意义。<br/>
            在物理学框架下，我们得以追求哲学，追随形而上学学者的步伐，从神学追溯到语言学。<br/>
            作为科学共同体的一员，不应因科学实在论而自大，而是永葆好奇和敬畏。自然世界永远是神秘的。<br/>
        </p>
        <h1>里仁</h1>
        <p>
            雅好摄影、cosplay、射箭，音乐口味是古典乐与东方。<br/>
            学术兴趣在于计算语言学和计算物理。<br/>
        </p>
        <h1>乡党</h1>
        <p>
            讲吴语太湖片崇启海小片和江淮官话泰如片南通小片。<br/>
            江浙沪轨道交通爱好者。<br/>
        </p>
    </article>
</Home>
