---
import AboutLayout from "../layouts/About.astro";

const cover = "https://static.yizhou.ac.cn/about.jpg"
---
<AboutLayout title="About" cover={cover} description="猫体动力学家。">
    <h3 class="font-serif">学而</h3>
    <p>
        学术兴趣在于信息论、统计物理与计算方法。<br/>
        为了理解这个世界的代数结构。<br/>
    </p>
    <h3 class="font-serif">里仁</h3>
    <p>
        摄影、射箭、登山、写同人文。<br/>
        喜好巴赫、莫扎特、德沃夏克。<br/>
    </p>
    <h3 class="font-serif">乡党</h3>
    <p>
        在吴越是吴越人，在淮扬是淮扬人。<br/>
    </p>
</AboutLayout>
