---
import HomeLayout from "../layouts/home.astro";
---

<HomeLayout title="About" class="flex">
    <article class="prose mx-auto">
        <img
            class="rounded-lg shadow-lg mx-auto"
            src="https://static.yizhou.ac.cn/about.jpg" alt="about"
        />
        <blockquote>
            <p>猫体动力学家。</p>
        </blockquote>
        <div class="divider" />
        <h3 class="font-serif">学而</h3>
        <p>
            学术兴趣在于信息论、统计物理与计算方法。从信息的角度理解世界，我们能够得到这个世界的代数形式。
            另外，复杂系统方面的经验也有助于量化交易。
        </p>
        <h3 class="font-serif">里仁</h3>
        <p>
            摄影、射箭、登山、写同人文。喜好巴赫、莫扎特、德沃夏克。<br />
        </p>
        <h3 class="font-serif">乡党</h3>
        <p>
            在吴越是吴越人，在淮扬是淮扬人。
        </p>
    </article>
</HomeLayout>
