---
import Home from "../layouts/home.astro";
import FriendCard from "../components/friend-card.astro";
import { friends } from "../data/friends.json";
---

<Home title="Friends">
    <section class="flex flex-col gap-6 px-6 pt-6">
        <h1 class="text-5xl font-bold">Friends</h1>
        <main
            class="grid grid-cols-2 gap-x-6 gap-y-12 md:grid-cols-3 lg:grid-cols-4"
        >
        {
            friends.map((friend) => (
                <FriendCard
                    name={friend.name}
                    link={friend.link}
                    avatar={friend.avatar}
                    description={friend.description}
                />
            ))
        }
        </main>
    </section>
</Home>
