---
import Home from "../layouts/home.astro";
import FriendCard from "../components/friend-card.astro";
import { friends } from "../data/friends.json";
---

<Home title="Friends">
    <section class="flex flex-col">
        <header class="flex-grow pb-8">
            <h1 class="text-3xl md:text-5xl font-serif">Friends</h1>
        </header>
        <main
            class="grid gap-x-6 gap-y-12 grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
        {
            friends.map((friend) => (
                <FriendCard
                    name={friend.name}
                    link={friend.link}
                    avatar={friend.avatar}
                    description={friend.description}
                />
            ))
        }
        </main>
    </section>
</Home>
