---
import Home from "../layouts/home.astro";
import Friend from "../components/friend.astro";
import { friends } from "../data/friends.json";
---

<Home title="Friends">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
            friends.map((friend) => (
                <Friend
                    name={friend.name}
                    link={friend.link}
                    avatar={friend.avatar}
                    description={friend.description}
                />
            ))
        }
    </div>
</Home>
