---
import ArticleCard from "../components/ArticleCard.astro";
import HomeLayout from "../layouts/Home.astro";
import type {MarkdownInstance} from "astro";

interface Frontmatter {
    pubDate: string;
    description: string;
    cover?: string;
    top?: boolean;
}
type Record = MarkdownInstance<Frontmatter>

const data = import.meta.glob<Record>("./posts/*.md", {eager: true});
const posts = Object.values(data);
const featured = posts
    .filter(post => post.frontmatter.top == true);
const comparer = (a: Record, b: Record) => {
    return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
}
const latest = posts.sort(comparer).slice(0, 10)
---
<HomeLayout title="Home">
    <div class="flex flex-col">
        <h2 class="text-xl md:text-3xl font-serif mb-10">Featured</h2>
        <section class="columns-1 md:columns-2 gap-6 space-y-6">
            {
                featured.map(post => (
                        <ArticleCard url={post.url!!} frontmatter={post.frontmatter}/>
                ))
            }
        </section>
        <h2 class="text-xl md:text-3xl font-serif my-10">Latest</h2>
        <section class="columns-1 md:columns-2 gap-6 space-y-6">
            {
                latest.map(post => (
                        <ArticleCard url={post.url!!} frontmatter={post.frontmatter}/>
                ))
            }
        </section>
    </div>
</HomeLayout>
