---
import { getPosts } from "../utils/getPosts";
import HomeLayout from "../layouts/home.astro";

const posts = await getPosts();
---

<HomeLayout title="Timeline">
    <section class="flex flex-col">
        <header class="flex-grow">
            <h1 class="text-3xl md:text-5xl font-serif">Timeline</h1>
        </header>
        <ul
            class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
        >
            {
                posts.map((post, index: number) => (
                    <li>
                        <div class="timeline-middle">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="h-5 w-5"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </div>
                        <div
                            class={
                                index % 2 == 0
                                    ? "timeline-start md:text-end mb-10"
                                    : "timeline-end mb-10"
                            }
                        >
                            <time class="font-mono italic">{post.pubDate.toLocaleDateString("zh-CN")}</time>
                            <a href={post.link}>
                                <h3 class="text-lg font-serif">{post.title}</h3>
                                <p class="italic font-thin"> {post.description}</p>
                            </a>
                        </div>
                        <hr />
                    </li>
                ))
            }
        </ul>
    </section>
</HomeLayout>
