---
import Home from "../layouts/home.astro";
import Post from "../components/post.vue";

const posts = (await Astro.glob("./posts/*.md")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
);
---

<Home title="Timeline">
    <div class="flex flex-col gap-6 ps-6 pt-6">
        <div class="prose flex-grow">
            <h1>Timeline</h1>
        </div>
    </div>
</Home>
