---
const {url, frontmatter} = Astro.props;
const cover = (frontmatter.cover ?? "/img/about.jpg") + "?imageView2/2/w/800/h/600/ignore-error/1"
---
<a href={url} class="card bg-base-200 shadow-sm break-inside-avoid">
    <figure>
        <img class="object-cover object-center w-full max-h-60" src={cover} alt="cover"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title font-serif">{url.split('/').pop()}</h2>
        <p>{frontmatter.description}</p>
        <div class="card-actions">
            <span>{new Date(frontmatter.pubDate).toLocaleDateString("en-GB")}</span>
        </div>
    </div>
</a>