---
const { title, cover, author, publisher, link } = Astro.props;
---

<div
    class="card card-compact transition-all duration-200 hover:bg-base-200 hover:-translate-y-1"
>
    <figure class="px-4 pt-4">
        <img
            class="h-36 sm:h-40 md:h-44 object-cover object-top w-full rounded-lg"
            alt="cover"
            src={cover}
        />
    </figure>
    <div class="p-3 md:card-body">
        <h2 class="text-lg md:card-title">{title}</h2>
        <div class="flex flex-wrap justify-between w-full">
            <p class="text-sm font-thin">{author}</p>
            <p class="text-sm font-thin">{publisher}</p>
        </div>
    </div>
</div>
