---
import { Icon } from "astro-icon/components";
---

<footer class="footer md:footer-horizontal py-5 px-10 bg-base-200">
    <aside>
        <a
            href="https://beian.mps.gov.cn/#/query/webSearch?code=32060202002128"
        >
            苏公网安备32060202002128号
        </a>
        <a href="https://beian.miit.gov.cn/"> 苏ICP备2023037773 </a>
        <span>Copyright © 2019-2025 Tong Yizhou</span>
    </aside>

    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a class="btn btn-ghost" href="https://x.com/tsurumi_yizhou">
            <Icon name="fa-brands:twitter" size={32} />
        </a>
        <a class="btn btn-ghost" href="https://github.com/tsurumi-yizhou">
            <Icon name="fa-brands:github" size={32} />
        </a>
        <a
            class="btn btn-ghost"
            href="https://www.zhihu.com/people/lao-shen-gun-41"
        >
            <Icon name="fa-brands:zhihu" size={32} />
        </a>
        <a class="btn btn-ghost" href="mailto:tongyz2922@mails.jlu.edu.cn">
            <Icon name="fa-solid:mail-bulk" size={32} />
        </a>
    </nav>
</footer>
