---
import { Icon } from "astro-icon/components";
---

<nav class="navbar w-full">
    <div class="flex items-center justify-between w-full">
        <div class="block">
            <a class="btn btn-ghost" href="/">停云馆</a>
        </div>
        <div class="hidden md:flex">
            <a class="btn btn-ghost" href="/timeline">Timeline</a>
            <a class="btn btn-ghost" href="/categories">Categories</a>
            <a class="btn btn-ghost" href="/friends">Friends</a>
            <a class="btn btn-ghost" href="/about">About</a>
        </div>
        <div class="grid grid-cols-2">
            <div class="md:hidden dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost">
                    <Icon name="mdi:menu" size={24} />
                </div>
                <ul
                    tabindex="0"
                    class="dropdown-content menu p-2 shadow bg-base-100 rounded-box"
                >
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/friends">Friends</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <label class="swap swap-rotate btn btn-ghost">
                <input type="checkbox" class="theme-controller" value="dim" />
                <Icon
                    class="swap-off fill-current"
                    name="mdi:white-balance-sunny"
                    size={24}
                />
                <Icon
                    class="swap-on fill-current"
                    name="mdi:weather-night"
                    size={24}
                />
            </label>
        </div>
    </div>
</nav>
