---
const { title, date, cover, category, description, link } = Astro.props;
---

<a href={link}>
    <div class="card card-compact shadow-lg glass my-3 mx-5 prose">
        <div class="card-body">
            <h2 class="card-title">{title}</h2>
            <p class="h-16">{description}</p>
            <div class="card-actions justify-between">
                <caption>{date.toLocaleDateString("zh-CN")}</caption>
                <span>{category}</span>
            </div>
        </div>
    </div>
</a>
