---
import "./styles/global.css";
import BottomBar from "./components/BottomBar.astro";
import TopBar from "./components/TopBar.astro";

const { title } = Astro.props;
---

<html lang="zh_cn">
    <head>
        <meta charset="utf-8" />
        <title>{title.charAt(0).toUpperCase() + title.slice(1)}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="referrer" content="no-referrer" />
        <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
    </head>
    <body>
        <div class="min-h-screen flex flex-col">
            <div
                class="sticky top-0 z-30 flex w-full justify-center bg-base-100 transition-shadow"
            >
                <TopBar />
            </div>
            <div class="flex flex-grow justify-center my-10 mx-5">
                <div class="mx-auto max-w-screen-lg">
                    <slot />
                </div>
            </div>

            <BottomBar />
        </div>
        <script>
            import { Fancybox } from "@fancyapps/ui";
            import "@fancyapps/ui/dist/fancybox/fancybox.css";

            Fancybox.bind("[data-fancybox]", {});
        </script>
    </body>
</html>
