---
import Base from "./Base.astro";
const {title, cover, description} = Astro.props;
---
<Base title={title}>
    <article class="prose mx-auto">
        <img class="rounded-lg shadow-lg mx-auto"
             src={cover} alt="about"
        />
        <blockquote>
            <p>{description}</p>
        </blockquote>
        <div class="divider"/>
        <slot/>
    </article>
</Base>