---
import App from "../App.astro";
import TopBar from "../components/TopBar.astro";
import BottomBar from "../components/BottomBar.astro";

const {title} = Astro.props;
---
<App title={title}>
    <div class="min-h-screen flex flex-col">
        <div class="sticky top-0 z-30 flex w-full justify-center bg-base-100 transition-shadow">
            <TopBar/>
        </div>
        <div class="flex flex-grow justify-center my-10 mx-5">
            <div class="mx-auto max-w-screen-lg">
                <slot/>
            </div>
        </div>

        <BottomBar/>
    </div>
</App>