---
import Base from "./Base.astro";

const {title} = Astro.props;
---
<Base title={title}>
    <div class="flex flex-col justify-center">
        <header class="flex-grow pb-8">
            <h1 class="text-3xl md:text-5xl font-serif">{title}</h1>
        </header>
        <div class="divider"/>
        <slot/>
    </div>
</Base>