---
import Bottom from "../components/footer.astro";
import TopBar from "../components/navbar.astro";
const { title } = Astro.props;
---

<html lang="zh_cn">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="referrer" content="no-referrer" />
        <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
            integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
            crossorigin="anonymous"
        />
        <script
            is:inline
            async
            src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        ></script>
    </head>
    <body>
        <div>
            <div class="sticky top-0 z-30 flex w-full justify-center backdrop-blur transition-shadow">
                <TopBar />
            </div>
            <div class="flex justify-center my-10 mx-5">
                <div class="mx-auto max-w-screen-lg">
                    <slot />
                </div>
            </div>
            <Bottom />
        </div>
    </body>
</html>
